security.protocol=SASL_PLAINTEXT
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ sasl_plain_broker_username }}" password="{{ sasl_plain_broker_password }}";