process.roles=controller
node.id={{ groups['kafka_controllers_raft'].index(inventory_hostname) }}
controller.quorum.voters={% for controller_node in groups['kafka_controllers_raft'] %}{{ loop.index }}@{{ hostvars[controller_node]['ansible_host'] }}:9093{% if not loop.last %},{% endif %}{% endfor %}
listeners=PLAINTEXT://0.0.0.0:9092,CONTROLLER://kafka1:9093
inter.broker.listener.name=PLAINTEXT
advertised.listeners=PLAINTEXT://kafka1:9092
controller.listener.names=CONTROLLER
listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SA
SL_PLAINTEXT,SASL_SSL:SASL_SSL
log.dirs=/opt/kafka/data/kraft-combined-logs
